.chat{

    border: 2px solid royalblue;
    width: 90%;
    height:380px;
    box-shadow:10px 10px 5px #888888;
    margin-bottom: 12px;
   margin: 30px;
}
.chatword{
    float: none;
    width:89%;
    height: 350px;
    background-color: darkgrey;
    margin: 0 auto;
    overflow: scroll;
}
.send{
    display: block;
    width: inherit;
    height: 36px;
    text-align: center;
    margin: 0 auto;
}
.inp{
    width: 80%;
}
.btn_1{
    background-color: red;
    display: block;
}